@font-face {
  font-family: Now Bold;
  src: local('Now Bold'),
    url('fonts/now/now-bold-webfont.eot');
    url('fonts/now/now-bold-webfont.eot?iefix') format('eot'),
    url('fonts/now/now-bold-webfont.woff2') format('woff2'),
    url('fonts/now/now-bold-webfont.woff') format('woff'),
    url('fonts/now/now-bold-webfont.ttf') format('truetype'),
    url('fonts/now/now-bold-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.now-bold {
  font-family: Now Bold, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Now Light;
  src: local('Now Light'),
    url('fonts/now/now-light-webfont.eot');
    url('fonts/now/now-light-webfont.eot?iefix') format('eot'),
    url('fonts/now/now-light-webfont.woff2') format('woff2'),
    url('fonts/now/now-light-webfont.woff') format('woff'),
    url('fonts/now/now-light-webfont.ttf') format('truetype'),
    url('fonts/now/now-light-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.now-light {
  font-family: Now Bold, Helvetica, Arial, sans-serif;
}
