/*
*=================[ NGP Form Pages ]============================================
*/

.ngp-form-page-body {
  color: #fff;
  padding: 50px;
  background-color: #0A91AB;
  background-size: cover;
  background-position: center;
}

.ngp-form-page-container {

}

.ngp-form-page-form-sidebar {
  max-width: 400px;
  background-color: #065471;
}

.ngp-form-page-caption-box {
 padding: 25px;
}

.ngp-form-page-caption-box * {
  padding: 0 2px 5px 0;
}
